<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div style="background-color:#4e0d3a" class="media text-muted border-bottom pt-3 p-3">
        <img src="../assets/present_simple.png" class="mr-3 mt-3 rounded-circle" style="width:150px;">
        <div class="media-body small">
          <h4 style="color:whitesmoke" class="media-heading ">All about present simple...</h4>
        </div>
      </div>
      <div style="background-color:#4e0d3a" class="media text-muted border-bottom pt-3 p-3">
        <img src="../assets/present_continuous.png" class="mr-3 mt-3 rounded-circle" style="width:150px;">
        <div class="media-body small">
          <h4 style="color:whitesmoke" class="media-heading">All about present continuous...</h4>
        </div>
      </div>


      <div class="col-sm-8">

      </div>
    </div>
  </div>
</div>

